<article>
    <h1> Create Bus </h1>
    <form action= "/createBus" method= "POST">
        <label for ="companyName"> Company Name</label>
        <input type= "text" name= "companyName"><br>
        <label for="busType"> Bus Type</label>
        <input type="text" name= "busType"><br>
        <label for="busNumber"> Bus Number</label>
        <input type="number" name= "busNumber"><br>
        <label for="startCity"> Start City</label>
        <input type="text" name= "startCity"><br>
        <label for="destination"> Destination</label>
        <input type="text" name= "destination"><br>
        <label for="totalSeats"> Total Seats</label>
        <input type="number" name= "totalSeats"><br>
        <label for="availableSeats"> Available Seats</label>
        <input type="number" name= "availableSeats"><br>
        <label for="pricePerSeat"> PricePerSeat</label>
        <input type="number" name= "pricePerSeat"><br>
        <input class="button" type= "submit" name= "Submit">
    </form>
    {{#if error}}
        <p>{{ error }}</p>
    {{/if}}
</article>